*.class

# Package Files #
*.jar
*.war
*.ear

build
logs
cache

*.iml
*.ipr
*.iws

*.project
*.classpath
*.settings

.gradle

gattling/gatling-charts-highcharts-1.5.3-bundle.zip
gattling/gatling-charts-highcharts-1.5.3/*

logstash/data/*
